$main-color: #EEEEEE;
$white: #FFF;
$shadow: #AAA;

html, body {
	margin: 0px;
	font-family: helvetica;
	height: 100%;
}

#root{
	height: 100%;
}
.App{
	display: flex;
	flex-flow: row wrap;
	height: 100%;
	width: 100%;
}

.Header {
	order: 1;
	flex: 0 1 100%;
	height: 7%;
	background-color: $main-color;
}
.FilterBoard, .SelectorContainer {
	flex: 1;
	height: 93%;
	background-color: $main-color;	
}

.FilterBoard {
	order: 2;
}

.SelectorContainer {
	order: 3;
	display: flex;
	justify-content: center;

}

.SelectorList {
	text-align: center;
	width: 100%;
	height: 95%;
	border-radius: .5vh;
	margin: auto;
	background-color: $white;
	box-shadow: 0px 0px 16px 1px $shadow inset;

}

.SnippetWell {
	flex: 3;
	order: 4;
	height: 93%;
	background-color: $main-color;
}

/*.SelectorList {
	display: flex;
	height: 90%;
	border: 2px solid #DDDDDD;
	flex: 1;

}*/