$main-color: #EEE;
$white: #FBFBFB;
$shadow: #AAA;

html, body {
	margin: 0px;
	font-family: helvetica;
	height: 100%;
	overflow: hidden;
}

#root{
	height: 100%;
}
.App{
	display: flex;
	flex-flow: row wrap;
	height: 100%;
	width: 100%;
}

.Header {
	order: 1;
	z-index: 2;
	flex: 0 1 100%;
	height: 7%;
	background-color: #666666;
	box-shadow: 0px 2px 8px grey;
}
.FilterBoard, .SelectorContainer {
	flex: 1;
	height: 93%;
	background-color: $main-color;	
}

.FilterBoard {
	order: 2;
	display: flex;
	flex-direction: column;
	.PrivacyFilter {
		margin: 2vh auto;
		order: 1;
		display: flex;
		flex-flow: column;
		width: 90%;
		box-shadow: 0px 0px 2px 2px $shadow;
		border-radius: .5vh;
		padding-bottom: 1vh;

		h5, .ButtonGroup{
			display: flex;
			justify-content: center;
			margin: 1vh auto;
		}
		.buttonStyle {
	        background-color: #ddd;
	        border: 1px solid #ddd;
	        border-left: 0;
	        cursor: pointer;
	        padding: 5px 10px;

	        &:first-child {
	            border-left: 1px solid #ddd;
	            border-top-left-radius: 3px;
	            border-bottom-left-radius: 3px;
	        }

	        &:last-child {
	            border-right: 1px solid #ddd;
	            border-top-right-radius: 3px;
	            border-bottom-right-radius: 3px;
	        }

	        &:hover {
	            background-color: #fff;
	        }

	        &:focus {
	            z-index: 2;
	        }
		}

		.selectedStyle {
	        background-color: #999;
			border: 1px solid #ddd;
	        border-left: 0;
	        cursor: pointer;
	        margin: 0;
	        padding: 5px 10px;

	        &:first-child {
	            border-left: 1px solid #ddd;
	            border-top-left-radius: 3px;
	            border-bottom-left-radius: 3px;
	        }

	        &:last-child {
	            border-right: 1px solid #ddd;
	            border-top-right-radius: 3px;
	            border-bottom-right-radius: 3px;
	        }

	        &:focus {
	            z-index: 2;
	        }
	    }
	}

	.LanguageFilter {
		order: 2;
	}

	.FramerworkFilter {
		order: 3;
	}
	.TagFilter {
		order: 4;
		overflow: scroll;
		h5 {
			padding-bottom: 1vh;
		}
		label {
			margin: .5vh auto;
			width: 80%;
		}

	}


	.LanguageFilter, .FrameworkFilter, .TagFilter {
		order: 2;
		margin: 1vh auto;
		width: 90%;
		display: flex;
		flex-flow: column;
		padding-top: 2vh;
		padding-bottom: 2vh;
		box-shadow: 0px 0px 2px 2px $shadow;
		border-radius: .5vh;

		h5 {
			margin: 0 auto;
		}
		select {
			margin: 1vh auto;
			width: 80%;
		}
	}
	.SearchFilter {
		order: 5;
		margin: 1vh auto;
		width: 90%;
		display: flex;
		flex-flow: column;
		padding-top: 2vh;
		padding-bottom: 2vh;
		box-shadow: 0px 0px 2px 2px $shadow;
		border-radius: .5vh;
		h5 {
			margin: 0 auto;
		}
		input {
			margin: 1vh auto;
			width: 80%;
		}
	}
}

.SelectorContainer {
	order: 3;
	display: flex;
}

.SelectorList {
	text-align: center;
	align-self: center;
	width: 100%;
	height: 96%;
	background-color: $white;
	box-shadow: 0px 0px 16px 1px $shadow inset;
	overflow-y: scroll;
	border-radius: .5vh;


}

.ListItem {
	border-bottom: 1px solid black;
	display: flex;
	padding: 1vh;
	height: 8%;
	.left {
		text-align: left;
		flex: 3;
		overflow: hidden;
		padding-right: .5vw;
	}
	.right {
		text-align: right;
		flex: 1;
		display: flex;
		flex-flow: column;
		justify-content: space-between;
	}
	.title {
		font-weight: bold;
	}

}

.SnippetWell {
	flex: 3;
	order: 4;
	height: 93%;
	background-color: $main-color;
	margin-top: 0;
	display: flex;
}

.SnippetText {

	height: 95%;
	width: 95%;
	margin: 1.5vh auto;
	background-color: red;
	box-shadow: 0em 2em 2.5em .2em #333;
	pre {
		height: 100%;
		margin-top: 0;
	}
	code {
	}
}

/*.SelectorList {
	display: flex;
	height: 90%;
	border: 2px solid #DDDDDD;
	flex: 1;

}*/